.works {
    height: 100vh;
    width: 100vw;
    background-color:  rgb(81, 59, 8);

    .worked {
        width: 100vw;
        height: 100vh;
        padding:12% 10% ;
        display: flex;
        flex-direction: column;
        text-align: left;


        &__heading {
            margin-bottom: 30px;
            width: 900px;

            h1 {
                position: relative;
                padding-left:2px;
                font-family:"Gauss";
                color: #8b8e38;

                span {
                    font-size: .8em;
                    font-family: "SF-Mono";
                    font-weight: bold;
                    margin-right: 20px;
                    color: #8b8e38;
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 50%;
                    right: 0;
                    width: 12.5em;
                    height: 1px;
                    background-color:#8b8e38;
                }
            }
        }


        // body
        &__body {
            display:flex ;
            flex-direction: row;
            margin:20px 30px 20px 30px;

            .control  {
                display: flex;
                flex-direction: row;

                aside {
                    position: relative;
                    height: 100%;
                    width: 1px;
                    background-color: #8b8e38;
                    span {
                        position: absolute;
                        // top: 0;
                        left:-2px;
                        width: 4px;
                        height: 60px;
                        background-color:#040402;
                        transition: all .3s ease-in-out;
                        // z-index: 5;
                    
                    }
                   
                }

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        height:60px;
                        padding:10px 30px;
                        display:flex;
                        // background-color: #afb349;
                        font-size: 1.2em;
                        font-family: 'Quicksand', sans-serif;
                        font-weight: 600;
                        align-items: center;
                        text-align: left;
                        cursor: pointer;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: rgb(110, 81, 12) ;
                        }
                    }

                    .active {
                        color: #8b8e38 ;
                        background-color: rgb(110, 81, 12) ;
                    }

                }

            }

            //outlet 
            .outlet {
                padding-left: 30px;

                .recent {
                    width: 700px;

                    h1 {
                        font-size: 1.5em;
                        margin-bottom: 15px;
                        span{
                            color:  #8b8e38;
                        }
                    }
                    p {
                        font-family: "SF-Mono";
                        font-weight: bold;
                        color: #8b8e38 ;
                    }
                    ul {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;

                        li {
                            position: relative;
                            font-size: 1.4em;
                            margin-bottom: 15px;
                            padding-left: 25px;
                            overflow: hidden;

                            &::before {
                                content: "▹";
                                position: absolute;
                                top: 0%;
                                left: 0px;
                                overflow: hidden;
                                color: #8b8e38;
                                font-size: #8b8e38;
                                // line-height: 12px;
                            }
                        }
                    }
                }
            }
        }
    
    }
    
}


